#pizza{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#buildMenu{
    display: none;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
#prebuiltMenu{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 430px;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 10px black;
    border-radius: 15px;
    padding: 2.5%;
}
.prebuiltButton{
    width: 30%;
    min-width: 440px;
    height: 45%;
    padding: 10px 10px 10px 0;
    border: solid 1px black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    font-size: 20px;
    // background-color: red;   
    p{
        margin-right: 3px;
    }
}
.prebuiltImage{
    // width: fit-content;
    height: 95%;
    max-height: 300px;
    max-width: 70%;
}




#summary{
    display: flex;
    flex:0.5;
    flex-direction: column;
    padding-top: 4px;
    padding-bottom: 14px;
    padding-right: 14px;
    padding-left: 14px;
}

#size{
    width: fit-content;
    border-bottom: solid 2px #000;
}

#toppings{
    display: flex;
    flex:2;
    flex-direction: row;
}

#meatToppings{
    flex: 0.5;
    padding-top: 4px;
    padding-bottom: 14px;
    padding-right: 14px;
    padding-left: 14px;
}

#veggiToppings{
    flex: 0.5;
    padding-top: 4px;
    padding-bottom: 14px;
    padding-right: 14px;
    padding-left: 14px;
}

.topHeaders{
    width: fit-content;
    border-bottom: solid 2px #000;
}

#pizzaCanvas{
    display: flex;
    width: 600px;
    height: 600px;
}

#list{
    display: flex;
    flex-direction: column;
}
#sizes{
    padding-top: 4px;
    padding-bottom: 14px;
    padding-right: 14px;
    padding-left: 14px;
    flex: 0.5;
}

#sizes h2{
    width: fit-content;
    border-bottom: 2px solid #000;
}

#summary{
    display: flex;
}

.toppingButtons{
    display: flex;
    flex-direction: column;
}
.innerToppingButton{
    width: 70px;
    height: 70%;
    border: 1px solid black;
}
.innerAmountButton{
    @extend .innerToppingButton;
    height: 40%;
    width: 100%;
}

.checkboxTopping{
    height: 15px;
    cursor: pointer;
    width: 15px;
    display: none;
}

.checkboxLabel{
    font-size: 16pt;
    cursor: pointer;
}

.checkboxLabel:hover{
    color: #444;
    font-size: 17pt;
}

@media all and (max-width: 950px){
    #pizzaCanvas{
        display: none;
    }
    // .pizza{
    //     overflow: scroll;
    // }
}