// #pizza{

// }
#buildMenu{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}


#sizes{
    width:10%;
}
#toppings{
    width: 25%;
    overflow: scroll;
}
#pizzaCanvas{
    width: 50%;
    height: 100%;
}
#summary{
    width: 15%;
}

.toppingButtons{
    width: 100%;
    height: 100px;
    background-color: blue;
    display: flex;
}
.innerToppingButton{
    width: 33%;
    height: 100%;
    background-color: red;
    border: 1px solid black;
}
.innerAmountButton{
    @extend .innerToppingButton;
    height: 40%;
    width: 100%;
}
.sizeButton{
    border: 1px solid black;
    height: 25%;
}